/*animacja: znikajacy div w 4 kierunkach*/

/*div znikajacy w prawo*/
.anim-right{
     animation-name:moja-animacja-1;
        animation-duration:4s;
        animation-iteration-count:infinite;
        text-align:center;
        width:400px;
        height: 300px;
        padding:0.5em;
        font-size:1.3em;
        background-color:blue;
        margin: auto;
}
 @keyframes moja-animacja-1
      {0% { transform:translateX(0); }
        100% { transform:translateX(200%); opacity:0;}
      }
/*div znikajacy do góry*/
.anim-top{
  animation-name:moja-animacja-2;
        animation-duration:4s;
        animation-iteration-count:infinite;
        text-align:center;
        width:300px;
        height: 400px;
        background-color:blueviolet;
        margin: 20px auto 20px;

}
@keyframes moja-animacja-2
      {
        0% { transform:translateY(0); }
        100% { transform:translateY(1000px); opacity:0;}
      }
/*div znikajacy w dół*/
.anim-bottom{
    animation-name: moja-animacja-3;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-direction:reverse;
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: aqua;
    margin: 20px auto 20px;
    
}
  @keyframes moja-animacja-3
      {
        0% { transform:translateY(0);opacity:0; }
        100% { transform:translateY(500px); }
      }

/*div znikajcy w lewo*/
.anim-left{
    animation-name: moja-animacja-4;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-direction:reverse;
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: aqua;
    margin: 20px auto 20px;
    
}
  @keyframes moja-animacja-4
      {
        0% { transform:translateX(0);opacity:0; }
        100% { transform:translateX(-500px); }
      }
/* styl do wszystkich przycisków - dotyczy zmianiajacych kolor tła w róznych kierunkach*/
.btn-anim-bootom, .btn-anim-top, .btn-anim-left, .btn-anim-right{         text-decoration: none;
    text-align: center;
    color: #3cbabe;
    border: 2px solid #3cbabe;
    border-radius: 4px;
    width: 150px;
    line-height: 40px;
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    margin: 20px auto 20px;
    display: block;
    position: relative;}

.btn-anim-bootom b, .btn-anim-top b, .btn-anim-left b, .btn-anim-right b {position: relative;}

.btn-anim-bootom b, .btn-anim-top b, .btn-anim-left b, .btn-anim-right {-webkit-animation: super-rainbow 1s infinite linear; 
-moz-animation: super-rainbow 1s infinite linear;}

/*styl do przycisków dół-góra i góra-dół*/
.btn-anim-bootom:hover span,.btn-anim-top:hover span{
    display: block;
    position: absolute;
    background:green;
    width:100%;
    height: 100%;
    z-index: 0;
   -moz-animation: bg-slide 0.30s linear;
    -o-animation: bg-slide 0.30s linear;
    -webkit-animation: bg-slide 0.30s linear;
    animation: bg-slide 0.30s linear;}

/*wspólna animacja do przycisków dół-góra i góra-dół*/
@keyframes bg-slide {
	from {-webkit-transform: translateY(100%);}
	to {-webkit-transform: translateY(0%);}
}
/*animacja góra-dół "kierunek animacji"*/
.btn-anim-top:hover span{
    animation-direction:reverse;}

/*syl do aniamcji lewo-prawo i prawo-lewo*/
.btn-anim-left:hover span, .btn-anim-right:hover span{
    display: block;
    position: absolute;
    background:pink;
    width:100%;
    height: 100%;
    -moz-animation: bt-slide 0.30s linear;
    -o-animation: bt-slide 0.30s linear;
    -webkit-animation: bt-slide 0.30s linear;
    animation: bt-slide 0.30s linear;
    z-index: 0;
}
/*współn animacja do przycisków lewo-prawo i prawo-lewo*/
@keyframes bt-slide {
	from {-webkit-transform: translateX(100%);}
	to { -webkit-transform: translateX(0%);}
}
/*animacja prawo-lewo "kierunek"*/
.btn-anim-right:hover span{
    animation-direction:reverse;}
